/* About-Us Style  */
.about-top img{
    height: 500px;
    width: 100%;
}
.body{
    
    text-align: left;
    padding: 50px;
}
h1{
 text-align: center;
 font-size: 60px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}